* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #fdf093;
}

h1 {
    text-align: center;
}

dialog {
    margin: 0 auto;
    width: 250px;
    height: 250px;
    text-align: center;
}

dialog input {
    width: 200px;
    height: 30px;
    margin-top: 1rem;
}

dialog button {
    margin-top: 2rem;
}

#btnNewTask {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;

    background-color: #000000;
    color: #fff;

    cursor: pointer;
    width: 5rem;
    height: 5rem;

    border-radius: 10rem;
    border: none;
}

#ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4rem;
    margin-top: 2rem;
}

ul div {
    width: 300px;
    min-height: 300px;
    line-height: 250px;

    background-color: #fdef48;

    padding: 10px;
    border-radius: 5px;

    text-align: center;

    box-shadow: -21px 17px 16px 0px rgba(0,0,0,0.2);
    transform: rotate(-1deg);
}

ul div p {
    font-size: 1.5rem;
}